.navbar.nav-scroll {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
@media (min-width: 768px) {
  .navbar .nav-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: -1;
  }
}
.navbar .navbar-nav .nav-item .nav-link {
  font-family: "Inter", sans-serif;
  color: #023b51;
  font-size: 1rem;
  font-weight: 500;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #298f9c;
}
@media (min-width: 768px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0.25rem 0.75rem;
  }
}
@media (min-width: 0) and (max-width: 767.98px) {
  .navbar .navbar-nav .nav-item .nav-link {
    border: none;
    padding: 0 0;
  }
}
.navbar .navbar-toggler {
  padding: 0.25rem 0.75rem;
  border-width: 0.15rem;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .navbar .navbar-toggler {
    padding: 0.2rem 0.3rem;
    font-size: 18px;
  }
}

footer .footer-nav-link {
  text-decoration: none;
  color: #fff;
}
footer .footer-nav-link:hover {
  color: #298f9c;
  text-decoration: underline;
}
footer .footer-social-icons .social-media-icon {
  color: #fff;
  transition: all 0.4s ease-in-out;
}
footer .footer-social-icons .social-media-icon:hover {
  color: #298f9c;
  scale: 1.2;
  transform: translateY(-5px);
}
footer .footer-tagline {
  background-color: #022c3d;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.section-lg {
  padding: 100px 0px;
}

.hero-section-primary {
  background-image: url("../../images/hero-bg01.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100px;
}
.hero-section-primary .hero-img .metric {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 576px) {
  .hero-section-primary .hero-content ul.list-1 {
    border-right: 2px solid #6c757d;
  }
}

.underline-after::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  right: 0;
  transform: translateY(-50%);
  height: 1px;
  width: 50%;
  background-color: rgba(2, 59, 81, 0.3);
}

.billing-toggle {
  padding: 5px 10px;
  border: 1px solid rgba(108, 117, 125, 0.5);
  border-radius: 5rem;
  transition: all 0.4s ease-in-out;
}
.billing-toggle .billing-option {
  border: 1px solid transparent;
  border-radius: 5rem;
  background-color: transparent;
  color: #298f9c;
  padding: 5px 15px;
}
.billing-toggle .billing-option:hover, .billing-toggle .billing-option.active {
  background-color: rgba(41, 143, 156, 0.3);
  color: #023b51;
}

body {
  font-family: "Inter", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
}

.text-primary {
  color: #023b51 !important;
}

.text-secondary {
  color: #6c757d !important;
}

.text-success {
  color: #298f9c !important;
}

.text-info {
  color: #2ad2e8 !important;
}

.text-warning {
  color: #ffd323 !important;
}

.text-danger {
  color: #dc2f2f !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-dark {
  color: #212529 !important;
}

.text-gradiant {
  display: inline-block;
  background: linear-gradient(180deg, rgba(41, 143, 156, 0.8), rgba(2, 59, 81, 0.8));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary {
  background-color: #023b51 !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.bg-success {
  background-color: #298f9c !important;
}

.bg-info {
  background-color: #2ad2e8 !important;
}

.bg-warning {
  background-color: #ffd323 !important;
}

.bg-danger {
  background-color: #dc2f2f !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-gradient {
  background-image: linear-gradient(180deg, rgba(41, 143, 156, 0.8), rgba(2, 59, 81, 0.8)) !important;
}

.btn {
  padding: 0.55rem 1rem;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}
.btn.btn-primary {
  background-color: #023b51;
  border: 2px solid #023b51;
}
.btn.btn-primary:hover {
  background-color: transparent;
  border: 2px solid #023b51;
  color: #023b51;
}
.btn.btn-outline-primary {
  border-color: #023b51;
  color: #023b51;
}
.btn.btn-outline-primary:hover {
  color: #fff;
  background-color: #023b51;
}
.btn.btn-gradient {
  background-image: linear-gradient(160deg, #023b51 0%, #298f9c 50%);
  background-color: transparent !important;
  border: none;
  background-size: 200% auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.btn.btn-gradient:hover {
  transform: translateY(-4px);
  background-position: right center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.btn {
  padding: 0.55rem 1rem;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}
.btn.btn-secondary {
  background-color: #6c757d;
  border: 2px solid #6c757d;
}
.btn.btn-secondary:hover {
  background-color: transparent;
  border: 2px solid #6c757d;
  color: #6c757d;
}
.btn.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
}
.btn.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
}
.btn.btn-gradient {
  background-image: linear-gradient(160deg, #023b51 0%, #298f9c 50%);
  background-color: transparent !important;
  border: none;
  background-size: 200% auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.btn.btn-gradient:hover {
  transform: translateY(-4px);
  background-position: right center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.btn {
  padding: 0.55rem 1rem;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}
.btn.btn-success {
  background-color: #298f9c;
  border: 2px solid #298f9c;
}
.btn.btn-success:hover {
  background-color: transparent;
  border: 2px solid #298f9c;
  color: #298f9c;
}
.btn.btn-outline-success {
  border-color: #298f9c;
  color: #298f9c;
}
.btn.btn-outline-success:hover {
  color: #fff;
  background-color: #298f9c;
}
.btn.btn-gradient {
  background-image: linear-gradient(160deg, #023b51 0%, #298f9c 50%);
  background-color: transparent !important;
  border: none;
  background-size: 200% auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.btn.btn-gradient:hover {
  transform: translateY(-4px);
  background-position: right center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.btn {
  padding: 0.55rem 1rem;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}
.btn.btn-info {
  background-color: #2ad2e8;
  border: 2px solid #2ad2e8;
}
.btn.btn-info:hover {
  background-color: transparent;
  border: 2px solid #2ad2e8;
  color: #2ad2e8;
}
.btn.btn-outline-info {
  border-color: #2ad2e8;
  color: #2ad2e8;
}
.btn.btn-outline-info:hover {
  color: #fff;
  background-color: #2ad2e8;
}
.btn.btn-gradient {
  background-image: linear-gradient(160deg, #023b51 0%, #298f9c 50%);
  background-color: transparent !important;
  border: none;
  background-size: 200% auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.btn.btn-gradient:hover {
  transform: translateY(-4px);
  background-position: right center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.btn {
  padding: 0.55rem 1rem;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}
.btn.btn-warning {
  background-color: #ffd323;
  border: 2px solid #ffd323;
}
.btn.btn-warning:hover {
  background-color: transparent;
  border: 2px solid #ffd323;
  color: #ffd323;
}
.btn.btn-outline-warning {
  border-color: #ffd323;
  color: #ffd323;
}
.btn.btn-outline-warning:hover {
  color: #fff;
  background-color: #ffd323;
}
.btn.btn-gradient {
  background-image: linear-gradient(160deg, #023b51 0%, #298f9c 50%);
  background-color: transparent !important;
  border: none;
  background-size: 200% auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.btn.btn-gradient:hover {
  transform: translateY(-4px);
  background-position: right center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.btn {
  padding: 0.55rem 1rem;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}
.btn.btn-danger {
  background-color: #dc2f2f;
  border: 2px solid #dc2f2f;
}
.btn.btn-danger:hover {
  background-color: transparent;
  border: 2px solid #dc2f2f;
  color: #dc2f2f;
}
.btn.btn-outline-danger {
  border-color: #dc2f2f;
  color: #dc2f2f;
}
.btn.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc2f2f;
}
.btn.btn-gradient {
  background-image: linear-gradient(160deg, #023b51 0%, #298f9c 50%);
  background-color: transparent !important;
  border: none;
  background-size: 200% auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.btn.btn-gradient:hover {
  transform: translateY(-4px);
  background-position: right center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.btn {
  padding: 0.55rem 1rem;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}
.btn.btn-light {
  background-color: #f8f9fa;
  border: 2px solid #f8f9fa;
}
.btn.btn-light:hover {
  background-color: transparent;
  border: 2px solid #f8f9fa;
  color: #f8f9fa;
}
.btn.btn-outline-light {
  border-color: #f8f9fa;
  color: #f8f9fa;
}
.btn.btn-outline-light:hover {
  color: #fff;
  background-color: #f8f9fa;
}
.btn.btn-gradient {
  background-image: linear-gradient(160deg, #023b51 0%, #298f9c 50%);
  background-color: transparent !important;
  border: none;
  background-size: 200% auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.btn.btn-gradient:hover {
  transform: translateY(-4px);
  background-position: right center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.btn {
  padding: 0.55rem 1rem;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .btn {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}
.btn.btn-dark {
  background-color: #212529;
  border: 2px solid #212529;
}
.btn.btn-dark:hover {
  background-color: transparent;
  border: 2px solid #212529;
  color: #212529;
}
.btn.btn-outline-dark {
  border-color: #212529;
  color: #212529;
}
.btn.btn-outline-dark:hover {
  color: #fff;
  background-color: #212529;
}
.btn.btn-gradient {
  background-image: linear-gradient(160deg, #023b51 0%, #298f9c 50%);
  background-color: transparent !important;
  border: none;
  background-size: 200% auto;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.btn.btn-gradient:hover {
  transform: translateY(-4px);
  background-position: right center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.btn-close:focus {
  box-shadow: none;
}

@media (min-width: 0) and (max-width: 767.98px) {
  .offcanvas .offcanvas-body, .offcanvas .offcanvas-footer {
    border-top: 1px solid #6c757d;
  }
}

.card.service-card {
  border-radius: 5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}
.card.service-card::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  transform: translateY(-82%);
  z-index: 0;
  transition: all 0.4s ease-in-out;
}
.card.service-card .card-body .card-icon {
  display: inline-block;
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 2rem;
}
.card.service-card .card-body .card-title {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.card.service-card .card-body .card-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #023b51;
  transition: all 0.4s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
}
.card.service-card:hover::before {
  border-radius: 0%;
  top: 100%;
  transform: translateY(-100%);
}
.card.service-card:hover .card-body .card-title::after {
  transform: scaleX(1);
  transform-origin: left;
}
.card.service-card.service-card-soft-primary::before {
  background-color: rgba(2, 59, 81, 0.2);
}
.card.service-card.service-card-soft-primary:hover {
  border-color: #023b51;
}
.card.service-card.service-card-soft-secondary::before {
  background-color: rgba(108, 117, 125, 0.2);
}
.card.service-card.service-card-soft-secondary:hover {
  border-color: #6c757d;
}
.card.service-card.service-card-soft-success::before {
  background-color: rgba(41, 143, 156, 0.2);
}
.card.service-card.service-card-soft-success:hover {
  border-color: #298f9c;
}
.card.service-card.service-card-soft-info::before {
  background-color: rgba(42, 210, 232, 0.2);
}
.card.service-card.service-card-soft-info:hover {
  border-color: #2ad2e8;
}
.card.service-card.service-card-soft-warning::before {
  background-color: rgba(255, 211, 35, 0.2);
}
.card.service-card.service-card-soft-warning:hover {
  border-color: #ffd323;
}
.card.service-card.service-card-soft-danger::before {
  background-color: rgba(220, 47, 47, 0.2);
}
.card.service-card.service-card-soft-danger:hover {
  border-color: #dc2f2f;
}
.card.service-card.service-card-soft-light::before {
  background-color: rgba(248, 249, 250, 0.2);
}
.card.service-card.service-card-soft-light:hover {
  border-color: #f8f9fa;
}
.card.service-card.service-card-soft-dark::before {
  background-color: rgba(33, 37, 41, 0.2);
}
.card.service-card.service-card-soft-dark:hover {
  border-color: #212529;
}
.card.feature-card {
  background: rgba(248, 249, 250, 0.2);
  backdrop-filter: #023b51 10px;
  -webkit-backdrop-filter: #023b51 10px;
  border-radius: 10px;
  border: 1px solid rgba(248, 249, 250, 0.3);
  padding: 20px;
  color: #fff;
  box-shadow: 0 8px 32px rgba(33, 37, 41, 0.1);
}
.card.price-card {
  border: 1px solid transparent;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  padding: 1rem 0.5rem;
  transition: all 0.4s ease-in-out;
  background-image: radial-gradient(at 88% 40%, hsl(0, 0%, 100%) 0px, transparent 85%), radial-gradient(at 49% 30%, hsl(0, 0%, 100%) 0px, transparent 85%), radial-gradient(at 14% 26%, rgb(255, 255, 255) 0px, transparent 85%), radial-gradient(at 0% 64%, hsl(197, 95%, 16%) 0px, transparent 85%), radial-gradient(at 41% 94%, hsl(162, 73%, 46%) 0px, transparent 85%), radial-gradient(at 100% 99%, hsl(187, 59%, 38%) 0px, transparent 85%);
  background-position: 0px 5px;
}
.card.price-card .card-body .card-title .card-ribbon {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.price-card .card-body .card-title .card-ribbon .ribbon-content {
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #023b51 0%, #20c997 51%, #298f9c 100%);
  transform: rotate(45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}
.card.price-card .card-body .card-title .card-ribbon::before, .card.price-card .card-body .card-title .card-ribbon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(45deg, #023b51 0%, #20c997 51%, #298f9c 100%);
  border-radius: 50%;
  z-index: -1;
}
.card.price-card .card-body .card-title .card-ribbon::before {
  top: 0;
  left: 0;
  box-shadow: -140px 140px #023b51;
}
.card.price-card .card-body .card-title .card-ribbon::after {
  bottom: 0;
  right: 0;
  box-shadow: 140px -140px #023b51;
}
.card.price-card .card-body .card-info .list-group.list-group-flush .list-group-item {
  color: #023b51;
  background-color: transparent;
}
.card.price-card .card-body .card-info .list-group.list-group-flush .list-group-item:not(:last-child) {
  border-bottom: 1px solid rgba(108, 117, 125, 0.5);
}
.card.price-card:hover {
  transform: scale(0.9);
  border: 1px solid #298f9c;
}

.wave-bg {
  background-image: url("../../images/about-bg.svg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wave-bg .aboutus-img {
  position: relative;
  border-radius: 33% 65% 83% 18%/73% 55% 46% 27%;
  z-index: 2;
}
.wave-bg .custom-border {
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  border: 1px solid #023b51;
  background: transparent;
  border-radius: 100% 48% 25% 99%/44% 38% 100% 100%;
  z-index: 1;
}
.wave-bg .custom-bg {
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(2, 59, 81, 0.5);
  border-radius: 33% 65% 83% 18%/73% 55% 46% 27%;
  z-index: 0;
}

form .input-group .form-control {
  border-color: #fff;
  box-shadow: none;
  padding: 10px 10px;
}
form .input-group .input-group-text {
  background-color: #298f9c;
  color: #fff;
  border: transparent;
}
form .input-group .input-group-text:hover .input-icon {
  transform: translateX(5px);
}

.swiper.partner-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
.swiper.partner-swiper .swiper-wrapper .swiper-slide img {
  filter: grayscale(1);
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}
.swiper.partner-swiper .swiper-wrapper .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

.hero-section-primary .hero-img .orbit-container {
  width: 100%;
  max-width: 500px;
  height: 500px;
  position: relative;
}
.hero-section-primary .hero-img .orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px dashed rgba(41, 143, 156, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 30s linear infinite;
}
.hero-section-primary .hero-img .orbit-inner {
  width: 200px;
  height: 200px;
  animation-duration: 80s;
}
.hero-section-primary .hero-img .orbit-middle {
  width: 350px;
  height: 350px;
  animation-duration: 60s;
}
.hero-section-primary .hero-img .orbit-outer {
  width: 500px;
  height: 500px;
  animation-duration: 40s;
}
.hero-section-primary .hero-img .orbit-img,
.hero-section-primary .hero-img .orbit-dots {
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: counterRotate 30s linear infinite;
}
.hero-section-primary .hero-img .orbit-img {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 10px rgba(41, 143, 156, 0.7);
}
.hero-section-primary .hero-img .orbit-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section-primary .hero-img .orbit-dots {
  width: 15px;
  height: 15px;
  box-shadow: 0 0 5px #298f9c, 0 0 10px #298f9c;
  animation: glowPulse 1.5s infinite ease-in-out;
}
.hero-section-primary .hero-img .orbit-inner .orbit-img,
.hero-section-primary .hero-img .orbit-inner .orbit-dots {
  animation-duration: 80s;
}
.hero-section-primary .hero-img .orbit-middle .orbit-img,
.hero-section-primary .hero-img .orbit-inner .orbit-dots {
  animation-duration: 60s;
}
.hero-section-primary .hero-img .orbit-outer .orbit-img,
.hero-section-primary .hero-img .orbit-inner .orbit-dots {
  animation-duration: 40s;
}
.hero-section-primary .hero-img .orbit-i1 {
  top: 20%;
  left: 90%;
  height: 40px;
  width: 40px;
}
.hero-section-primary .hero-img .orbit-i2 {
  top: 85%;
  left: 20%;
}
.hero-section-primary .hero-img .orbit-i3 {
  top: 20%;
  left: 10%;
  background-color: rgba(41, 143, 156, 0.7);
}
.hero-section-primary .hero-img .orbit-m1 {
  top: 20%;
  left: 10%;
  height: 50px;
  width: 50px;
}
.hero-section-primary .hero-img .orbit-m2 {
  top: 30%;
  left: 96%;
  background-color: rgba(41, 143, 156, 0.7);
}
.hero-section-primary .hero-img .orbit-m3 {
  top: 90%;
  left: 80%;
  height: 40px;
  width: 40px;
}
.hero-section-primary .hero-img .orbit-m4 {
  top: 70%;
  left: 4%;
  background-color: rgba(2, 59, 81, 0.7);
}
.hero-section-primary .hero-img .orbit-m5 {
  top: 0%;
  left: 60%;
}
.hero-section-primary .hero-img .orbit-o1 {
  top: 0%;
  left: 40%;
  height: 50px;
  width: 50px;
}
.hero-section-primary .hero-img .orbit-o2 {
  top: 20%;
  left: 90%;
  height: 40px;
  width: 40px;
}
.hero-section-primary .hero-img .orbit-o3 {
  top: 60%;
  left: 100%;
}
.hero-section-primary .hero-img .orbit-o4 {
  top: 98%;
  left: 40%;
  height: 50px;
  width: 50px;
}
.hero-section-primary .hero-img .orbit-o5 {
  top: 55%;
  left: 0%;
}
.hero-section-primary .hero-img .orbit-o6 {
  top: 90%;
  left: 80%;
  height: 10px;
  width: 10px;
  background-color: rgba(41, 143, 156, 0.7);
}
.hero-section-primary .hero-img .orbit-o7 {
  top: 5%;
  left: 72%;
  height: 10px;
  width: 10px;
  background-color: rgba(2, 59, 81, 0.7);
}
.hero-section-primary .hero-img .orbit-o8 {
  top: 20%;
  left: 10%;
  height: 10px;
  width: 10px;
  background-color: rgba(41, 143, 156, 0.7);
}
.hero-section-primary .hero-img .orbit-o9 {
  top: 86%;
  left: 15%;
  height: 10px;
  width: 10px;
  background-color: rgba(2, 59, 81, 0.7);
}/*# sourceMappingURL=style.css.map */