.navbar.navbar1 {
  background-color: transparent;
}
.navbar.navbar2 {
  background-color: rgba(248, 249, 250, 0.7);
}
.navbar.navbar3 {
  background-color: transparent;
}
.navbar.navbar4 {
  background-color: #f8f9fa;
}
.navbar.nav-scroll {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
@media (min-width: 768px) {
  .navbar .nav-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: -1;
  }
}
.navbar .navbar-nav .nav-item .nav-link {
  font-family: "Inter", sans-serif;
  color: #023b51;
  font-size: 1rem;
  font-weight: 500;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #298f9c;
}
@media (min-width: 768px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0.25rem 0.75rem;
  }
}
@media (min-width: 0) and (max-width: 767.98px) {
  .navbar .navbar-nav .nav-item .nav-link {
    border: none;
    padding: 0 0;
  }
}
.navbar .navbar-toggler {
  padding: 0.25rem 0.75rem;
  border-width: 0.15rem;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .navbar .navbar-toggler {
    padding: 0.2rem 0.3rem;
    font-size: 18px;
  }
}

footer .footer-section .footer-nav-link {
  text-decoration: none;
  color: #fff;
}
footer .footer-section .footer-nav-link:hover {
  color: #298f9c;
  text-decoration: underline;
}
footer .footer-section .store-buttons-wrapper .store-button {
  transition: all 0.4s ease-in-out;
}
footer .footer-section .store-buttons-wrapper .store-button:hover {
  transform: scale(0.9);
}
footer .footer-tagline {
  background-color: rgb(1.5084337349, 44.4987951807, 61.0915662651);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.section-lg {
  padding: 100px 0px;
}

.underline-after::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  right: 0;
  transform: translateY(-50%);
  height: 1px;
  width: 50%;
  background-color: rgba(2, 59, 81, 0.3);
}

@media (min-width: 576px) {
  .hero-section-primary .hero-content ul.list-1 {
    border-right: 2px solid #6c757d;
  }
}

.billing-toggle {
  padding: 5px 10px;
  border: 1px solid rgba(108, 117, 125, 0.5);
  border-radius: 5rem;
  transition: all 0.4s ease-in-out;
}
.billing-toggle .billing-option {
  border: 1px solid transparent;
  border-radius: 5rem;
  background-color: transparent;
  color: #298f9c;
  padding: 5px 15px;
}
.billing-toggle .billing-option:hover, .billing-toggle .billing-option.active {
  background-color: rgba(41, 143, 156, 0.3);
  color: #023b51;
}

body {
  font-family: "Inter", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
}

.text-primary {
  color: #023b51 !important;
}

.text-secondary {
  color: #6c757d !important;
}

.text-success {
  color: #298f9c !important;
}

.text-info {
  color: #2ad2e8 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-danger {
  color: #dc2f2f !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-dark {
  color: #212529 !important;
}

.text-gradiant {
  display: inline-block;
  background: linear-gradient(180deg, rgba(41, 143, 156, 0.8), rgba(2, 59, 81, 0.8));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary {
  background-color: #023b51 !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.bg-success {
  background-color: #298f9c !important;
}

.bg-info {
  background-color: #2ad2e8 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.bg-danger {
  background-color: #dc2f2f !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-gradient {
  background-image: linear-gradient(180deg, rgba(41, 143, 156, 0.8), rgba(2, 59, 81, 0.8)) !important;
}

.btn {
  font-weight: 500;
  padding: 0.55rem 1.5rem;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 0) and (max-width: 575.98px) {
  .btn {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
  }
}
.btn.btn-primary {
  background-color: #023b51;
  border: 2px solid #023b51;
}
.btn.btn-primary:hover {
  background-color: transparent;
  border: 2px solid #023b51;
  color: #023b51;
}
.btn.btn-outline-primary {
  border: 2px solid #023b51;
  color: #023b51;
}
.btn.btn-outline-primary:hover {
  color: #f8f9fa;
  border: 2px solid #023b51;
}
.btn.btn-secondary {
  background-color: #6c757d;
  border: 2px solid #6c757d;
}
.btn.btn-secondary:hover {
  background-color: transparent;
  border: 2px solid #6c757d;
  color: #6c757d;
}
.btn.btn-outline-secondary {
  border: 2px solid #6c757d;
  color: #6c757d;
}
.btn.btn-outline-secondary:hover {
  color: #f8f9fa;
  border: 2px solid #6c757d;
}
.btn.btn-success {
  background-color: #298f9c;
  border: 2px solid #298f9c;
}
.btn.btn-success:hover {
  background-color: transparent;
  border: 2px solid #298f9c;
  color: #298f9c;
}
.btn.btn-outline-success {
  border: 2px solid #298f9c;
  color: #298f9c;
}
.btn.btn-outline-success:hover {
  color: #f8f9fa;
  border: 2px solid #298f9c;
}
.btn.btn-info {
  background-color: #2ad2e8;
  border: 2px solid #2ad2e8;
}
.btn.btn-info:hover {
  background-color: transparent;
  border: 2px solid #2ad2e8;
  color: #2ad2e8;
}
.btn.btn-outline-info {
  border: 2px solid #2ad2e8;
  color: #2ad2e8;
}
.btn.btn-outline-info:hover {
  color: #f8f9fa;
  border: 2px solid #2ad2e8;
}
.btn.btn-warning {
  background-color: #ffc107;
  border: 2px solid #ffc107;
}
.btn.btn-warning:hover {
  background-color: transparent;
  border: 2px solid #ffc107;
  color: #ffc107;
}
.btn.btn-outline-warning {
  border: 2px solid #ffc107;
  color: #ffc107;
}
.btn.btn-outline-warning:hover {
  color: #f8f9fa;
  border: 2px solid #ffc107;
}
.btn.btn-danger {
  background-color: #dc2f2f;
  border: 2px solid #dc2f2f;
}
.btn.btn-danger:hover {
  background-color: transparent;
  border: 2px solid #dc2f2f;
  color: #dc2f2f;
}
.btn.btn-outline-danger {
  border: 2px solid #dc2f2f;
  color: #dc2f2f;
}
.btn.btn-outline-danger:hover {
  color: #f8f9fa;
  border: 2px solid #dc2f2f;
}
.btn.btn-light {
  background-color: #f8f9fa;
  border: 2px solid #f8f9fa;
}
.btn.btn-light:hover {
  background-color: transparent;
  border: 2px solid #f8f9fa;
  color: #f8f9fa;
}
.btn.btn-outline-light {
  border: 2px solid #f8f9fa;
  color: #f8f9fa;
}
.btn.btn-outline-light:hover {
  color: #f8f9fa;
  border: 2px solid #f8f9fa;
}
.btn.btn-dark {
  background-color: #212529;
  border: 2px solid #212529;
}
.btn.btn-dark:hover {
  background-color: transparent;
  border: 2px solid #212529;
  color: #212529;
}
.btn.btn-outline-dark {
  border: 2px solid #212529;
  color: #212529;
}
.btn.btn-outline-dark:hover {
  color: #f8f9fa;
  border: 2px solid #212529;
}
.btn.btn-gradient {
  background-image: linear-gradient(160deg, #023b51 0%, #298f9c 50%);
  background-color: transparent !important;
  border: none;
  background-size: 200% auto;
  box-shadow: 0 0.125rem 0.7rem rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.btn.btn-gradient:hover {
  transform: translateY(-4px);
  background-position: right center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.btn.btn-glow {
  font-size: 1.2rem;
  background: #f8f9fa;
  color: #023b51;
  border: 2px solid #023b51;
  border-radius: 50rem;
  transition-duration: 0.8s;
  box-shadow: 0 0.125rem 0.7rem rgba(0, 0, 0, 0.2);
}
.btn.btn-glow:hover, .btn.btn-glow:focus {
  color: #298f9c;
  border-top: 2px solid #298f9c;
  border-left: 2px solid #298f9c;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  box-shadow: rgba(41, 143, 156, 0.4) 5px 5px, rgba(41, 143, 156, 0.3) 10px 10px, rgba(41, 143, 156, 0.2) 15px 15px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .btn.btn-glow {
    font-size: 1rem;
  }
}
@media (min-width: 0) and (max-width: 575.98px) {
  .btn.btn-glow {
    font-size: 0.9rem;
  }
}
.btn.btn-auth {
  color: #023b51;
  background-color: rgba(248, 249, 250, 0.4);
  border: 1px solid #f8f9fa;
  border-radius: 50rem;
}
.btn:hover {
  transform: scale(0.9);
}

.btn-close.auth-close-btn {
  filter: invert(1);
}
.btn-close:focus {
  box-shadow: none;
}

@media (min-width: 0) and (max-width: 767.98px) {
  .offcanvas .offcanvas-body, .offcanvas .offcanvas-footer {
    border-top: 1px solid #6c757d;
  }
}

.card.hero-card-wrapper {
  background-color: rgba(248, 249, 250, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}
.card.hero-card-wrapper.hero-img-card-1 {
  rotate: 5deg;
}
.card.hero-card-wrapper.hero-img-card-2 {
  rotate: 355deg;
}
.card.hero-card-wrapper.hero-img-card-3 {
  rotate: 5deg;
}
.card.hero-card-wrapper:hover.hero-img-card-2 {
  rotate: 360deg;
}
.card.hero-card-wrapper:hover.hero-img-card-1, .card.hero-card-wrapper:hover.hero-img-card-3 {
  rotate: 0deg;
}
.card.service-card {
  border-radius: 5rem;
  box-shadow: 0 0.125rem 0.7rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}
.card.service-card::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  transform: translateY(-82%);
  z-index: 0;
  transition: all 0.4s ease-in-out;
}
.card.service-card .card-body .card-icon {
  display: inline-block;
  border: 5px solid #fff;
  background-color: #fff;
  border-radius: 2rem;
}
.card.service-card .card-body .card-title {
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.card.service-card .card-body .card-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #023b51;
  transition: transform 0.3s linear;
  transform-origin: right;
  transform: scaleX(0);
}
.card.service-card:hover::before {
  border-radius: 0%;
  top: 100%;
  transform: translateY(-100%);
}
.card.service-card:hover .card-body .card-title::after {
  transform: scaleX(1);
  transform-origin: left;
}
.card.service-card.service-card-soft-primary::before {
  background-color: rgba(2, 59, 81, 0.2);
}
.card.service-card.service-card-soft-primary:hover {
  border-color: #023b51;
}
.card.service-card.service-card-soft-secondary::before {
  background-color: rgba(108, 117, 125, 0.2);
}
.card.service-card.service-card-soft-secondary:hover {
  border-color: #6c757d;
}
.card.service-card.service-card-soft-success::before {
  background-color: rgba(41, 143, 156, 0.2);
}
.card.service-card.service-card-soft-success:hover {
  border-color: #298f9c;
}
.card.service-card.service-card-soft-info::before {
  background-color: rgba(42, 210, 232, 0.2);
}
.card.service-card.service-card-soft-info:hover {
  border-color: #2ad2e8;
}
.card.service-card.service-card-soft-warning::before {
  background-color: rgba(255, 193, 7, 0.2);
}
.card.service-card.service-card-soft-warning:hover {
  border-color: #ffc107;
}
.card.service-card.service-card-soft-danger::before {
  background-color: rgba(220, 47, 47, 0.2);
}
.card.service-card.service-card-soft-danger:hover {
  border-color: #dc2f2f;
}
.card.service-card.service-card-soft-light::before {
  background-color: rgba(248, 249, 250, 0.2);
}
.card.service-card.service-card-soft-light:hover {
  border-color: #f8f9fa;
}
.card.service-card.service-card-soft-dark::before {
  background-color: rgba(33, 37, 41, 0.2);
}
.card.service-card.service-card-soft-dark:hover {
  border-color: #212529;
}
.card.price-card {
  border: 1px solid transparent;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  padding: 1rem 0.5rem;
  transition: all 0.4s ease-in-out;
  background-image: radial-gradient(at 88% 40%, hsl(0, 0%, 100%) 0px, transparent 85%), radial-gradient(at 49% 30%, hsl(0, 0%, 100%) 0px, transparent 85%), radial-gradient(at 14% 26%, rgb(255, 255, 255) 0px, transparent 85%), radial-gradient(at 0% 64%, hsl(197, 95%, 16%) 0px, transparent 85%), radial-gradient(at 41% 94%, hsl(162, 73%, 46%) 0px, transparent 85%), radial-gradient(at 100% 99%, hsl(187, 59%, 38%) 0px, transparent 85%);
  background-position: 0px 5px;
}
.card.price-card .card-body .card-title .card-ribbon {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.price-card .card-body .card-title .card-ribbon .ribbon-content {
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #023b51 0%, #20c997 51%, #298f9c 100%);
  transform: rotate(45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}
.card.price-card .card-body .card-title .card-ribbon::before, .card.price-card .card-body .card-title .card-ribbon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(45deg, #023b51 0%, #20c997 51%, #298f9c 100%);
  border-radius: 50%;
  z-index: -1;
}
.card.price-card .card-body .card-title .card-ribbon::before {
  top: 0;
  left: 0;
  box-shadow: -140px 140px #023b51;
}
.card.price-card .card-body .card-title .card-ribbon::after {
  bottom: 0;
  right: 0;
  box-shadow: 140px -140px #023b51;
}
.card.price-card .card-body .card-info .list-group.list-group-flush .list-group-item {
  color: #023b51;
  background-color: transparent;
}
.card.price-card .card-body .card-info .list-group.list-group-flush .list-group-item:not(:last-child) {
  border-bottom: 1px solid rgba(108, 117, 125, 0.5);
}
.card.price-card:hover {
  transform: scale(0.9);
  border: 1px solid #298f9c;
}
.card.features-card {
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(41, 143, 156, 0.3);
}
.card.features-card .features-content {
  position: absolute;
  bottom: 0;
  background-color: rgba(248, 249, 250, 0.7);
  padding: 10px;
  transition: all 0.5s linear;
  transform: translateY(100%);
}
.card.features-card:hover .features-content {
  transform: translateY(0);
}

.hero-section-primary {
  background-image: url("../../images/hero_bg01.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100px;
}
.hero-section-primary .hero-img .metric {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-section-primary2 {
  background-image: url("../../images/hero_bg02.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100px;
}

.hero-section-primary3 {
  background-image: url("../../images/hero-bg03.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100px;
}

.hero-section-primary4 {
  position: relative;
  background-image: url("../../images/hero_bg04.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100px;
  z-index: 0;
}
@media (min-width: 992px) {
  .hero-section-primary4 .overlay {
    position: absolute;
    inset: 0;
    background: #023b51;
    z-index: 1;
    clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
  }
}
@media (min-width: 0px) and (max-width: 991.98px) {
  .hero-section-primary4 .overlay {
    position: absolute;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    z-index: 1;
  }
}
.hero-section-primary4 .user-avatars .user-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 2rem;
  overflow: hidden;
  margin-left: -10px;
}
.hero-section-primary4 .user-avatars .user-image:first-child {
  margin-left: 0;
}
.hero-section-primary4 .user-avatars .more {
  background-color: #f8f9fa;
  color: #298f9c;
}

.hero-section-primary5 {
  background-image: url("../../images/bg-shape.png");
  background-color: #023b51;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100px;
}

.aboutus-section.wave-bg-1 {
  background-image: url("../../images/about_bg.svg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.aboutus-section.wave-bg-1 .aboutus-img {
  position: relative;
  border-radius: 33% 65% 83% 18%/73% 55% 46% 27%;
  z-index: 2;
}
.aboutus-section.wave-bg-1 .custom-border {
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  border: 1px solid #023b51;
  background: transparent;
  border-radius: 100% 48% 25% 99%/44% 38% 100% 100%;
  z-index: 1;
}
.aboutus-section.wave-bg-1 .custom-bg {
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(2, 59, 81, 0.5);
  border-radius: 33% 65% 83% 18%/73% 55% 46% 27%;
  z-index: 0;
}

.team-section.wave-bg-2 {
  background-image: url("../../images/team_bg.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 100px;
}
.team-section.wave-bg-2 .img-wrapper {
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0.125rem 0.7rem rgba(0, 0, 0, 0.2);
}
@media (min-width: 0) and (max-width: 575.98px) {
  .team-section.wave-bg-2 .img-wrapper {
    border-radius: 0.5rem;
  }
}
@media (min-width: 576px) {
  .team-section.wave-bg-2 .img-wrapper {
    border-radius: 1rem;
  }
}
.team-section.wave-bg-2 .img-wrapper .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgba(41, 143, 156, 0.5);
  width: 0;
  height: 0;
  transition: all 0.4s ease-in-out;
}
.team-section.wave-bg-2 .img-wrapper .view-user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  padding: 0;
  background-color: transparent;
  border: 0;
  line-height: 1;
}
.team-section.wave-bg-2 .img-wrapper:hover {
  box-shadow: 0 0 5px rgba(41, 143, 156, 0.2), 0 0 10px rgba(41, 143, 156, 0.5);
  scale: 1.1;
}
.team-section.wave-bg-2 .img-wrapper:hover .overlay {
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
}
.team-section.wave-bg-2 .img-wrapper:hover .view-user {
  opacity: 1;
  z-index: 2;
}

.team-info-modal .img-wrapper {
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0.125rem 0.7rem rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
}

.contactus-section {
  position: relative;
  background-image: url("../../images/contactus.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #f8f9fa;
  padding: 100px 0;
}
.contactus-section .overlay {
  position: absolute;
  inset: 0;
  background: rgba(33, 37, 41, 0.7);
  z-index: 0;
}
@media (max-width: 768px) {
  .contactus-section .contactus-section {
    background-attachment: scroll;
  }
}

.auth-section .auth-img {
  height: 100%;
  width: 100%;
  background-image: url("../../images/auth_img.jpg");
  background-size: cover;
  background-position: center;
}

form .input-group .form-control {
  border-color: #f8f9fa;
  box-shadow: none;
  padding: 0.75rem 1rem;
}
form .input-group .input-group-text {
  background-color: #298f9c;
  color: #f8f9fa;
  border: transparent;
  transition: all 0.4s ease-in-out;
}
form .input-group .input-group-text:hover .input-icon {
  transform: translateX(5px);
}
form.contactus-form .form-control, form.contactus-form .form-select {
  border-radius: 0;
  border-color: transparent;
  box-shadow: none;
  padding: 0.75rem 1rem;
}
form.form-auth .form-control {
  padding: 0.75rem 1rem;
  background-color: rgba(248, 249, 250, 0.6);
  border: 2px solid transparent;
  color: #023b51;
}
form.form-auth .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.7);
}
form.form-auth .form-check-input {
  color: #023b51;
  background-color: #f8f9fa;
  box-shadow: none;
  border: 2px solid transparent;
}
form.form-auth .form-check-input:checked {
  background-color: #023b51;
}

.socialContainer {
  text-decoration: none;
  color: #f8f9fa;
  padding: 5px 10px;
  background-color: #298f9c;
  border-radius: 5rem;
  transition-duration: 0.3s;
}
.socialContainer.insta-icon:hover {
  background-color: #f23393;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
.socialContainer.twitter-icon:hover {
  background-color: #2ad2e8;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
.socialContainer.linkedin-icon:hover {
  background-color: rgb(4.4578313253, 131.5060240964, 180.5421686747);
  transition-duration: 0.3s;
  transform: scale(1.2);
}
.socialContainer.whatsapp-icon:hover {
  background-color: rgb(24.9957081545, 157.0042918455, 117.9484978541);
  transition-duration: 0.3s;
  transform: scale(1.2);
}
.socialContainer.youtube-icon:hover {
  background-color: #dc2f2f;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
.socialContainer.facebook-icon:hover {
  background-color: rgb(5.686746988, 167.7590361446, 230.313253012);
  transition-duration: 0.3s;
  transform: scale(1.2);
}
.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}
.socialContainer:hover .icon {
  animation: slide-in-top 0.3s both;
}

.features-section .features-icon {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: #023b51;
  color: #f8f9fa;
  padding: 8px;
}

.hero-section-primary2 .arrow-icon {
  left: 300px;
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .hero-section-primary2 .arrow-icon {
    left: 250px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-section-primary2 .arrow-icon {
    left: 150px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-section-primary2 .arrow-icon {
    left: 40px;
  }
}

.hero-section-primary4 .arrow-icon2 {
  left: 200px;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.accordion .accordion-item {
  overflow: hidden;
  border-radius: 0.5rem;
  border-left: 10px solid #298f9c;
  box-shadow: 0 0.125rem 0.7rem rgba(0, 0, 0, 0.2);
}
.accordion .accordion-item:not(:last-child) {
  margin-bottom: 25px;
}
.accordion .accordion-item .accordion-header .accordion-button {
  padding: 1.25rem 1rem;
  font-size: 1.15rem;
  background-color: rgba(41, 143, 156, 0.2);
  color: #023b51;
}
.accordion .accordion-item .accordion-header .accordion-button:after {
  display: none;
}
.accordion .accordion-item .accordion-header .accordion-button .toggle-icon {
  font-size: 1.4rem;
  color: #023b51;
  transition-duration: 0.6s;
}
.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) .toggle-icon {
  color: #298f9c;
  transform: rotate(180deg);
}
.accordion .accordion-item .accordion-collapse .accordion-body {
  background-color: rgba(41, 143, 156, 0.1);
  color: #6c757d;
  padding: 1.25rem 1rem;
}

.modal {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.modal.team-info-modal .modal-dialog .modal-content {
  background-color: rgba(248, 249, 250, 0.5);
  border-radius: 1rem;
}
.modal.auth-section .modal-dialog .modal-content {
  border-radius: 1rem;
}
.modal.auth-section .modal-dialog .modal-content .modal-body .modal-form {
  padding: 30px;
  background-color: rgba(248, 249, 250, 0.4);
  border-radius: 1rem;
}

.swiper.partner-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
.swiper.partner-swiper .swiper-wrapper .swiper-slide img {
  filter: grayscale(1);
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}
.swiper.partner-swiper .swiper-wrapper .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

.hero-section-primary .hero-img .orbit-container {
  width: 100%;
  max-width: 500px;
  height: 500px;
}
.hero-section-primary .hero-img .orbit-container .orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px dashed rgba(41, 143, 156, 0.3);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 30s linear infinite;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-inner {
  width: 200px;
  height: 200px;
  animation-duration: 80s;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-inner .orbit-i1 {
  top: 20%;
  left: 90%;
  height: 40px;
  width: 40px;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-inner .orbit-i2 {
  top: 85%;
  left: 20%;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-inner .orbit-i3 {
  top: 20%;
  left: 10%;
  height: 10px;
  width: 10px;
  background-color: rgba(41, 143, 156, 0.7);
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-inner .orbit-img,
.hero-section-primary .hero-img .orbit-container .orbit.orbit-inner .orbit-dots {
  animation-duration: 80s;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-middle {
  width: 350px;
  height: 350px;
  animation-duration: 60s;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-middle .orbit-m1 {
  top: 20%;
  left: 10%;
  height: 50px;
  width: 50px;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-middle .orbit-m2 {
  top: 30%;
  left: 96%;
  background-color: rgba(41, 143, 156, 0.7);
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-middle .orbit-m3 {
  top: 90%;
  left: 80%;
  height: 40px;
  width: 40px;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-middle .orbit-m4 {
  top: 70%;
  left: 4%;
  background-color: rgba(2, 59, 81, 0.7);
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-middle .orbit-m5 {
  top: 0%;
  left: 60%;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-middle .orbit-img,
.hero-section-primary .hero-img .orbit-container .orbit.orbit-middle .orbit-dots {
  animation-duration: 60s;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer {
  width: 500px;
  height: 500px;
  animation-duration: 40s;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-o1 {
  top: 0%;
  left: 40%;
  height: 50px;
  width: 50px;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-o2 {
  top: 20%;
  left: 90%;
  height: 40px;
  width: 40px;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-o3 {
  top: 60%;
  left: 100%;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-o4 {
  top: 98%;
  left: 40%;
  height: 50px;
  width: 50px;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-o5 {
  top: 55%;
  left: 0%;
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-o6 {
  top: 90%;
  left: 80%;
  height: 10px;
  width: 10px;
  background-color: rgba(41, 143, 156, 0.7);
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-o7 {
  top: 5%;
  left: 72%;
  height: 10px;
  width: 10px;
  background-color: rgba(2, 59, 81, 0.7);
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-o8 {
  top: 20%;
  left: 10%;
  height: 10px;
  width: 10px;
  background-color: rgba(41, 143, 156, 0.7);
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-o9 {
  top: 86%;
  left: 15%;
  height: 10px;
  width: 10px;
  background-color: rgba(2, 59, 81, 0.7);
}
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-img,
.hero-section-primary .hero-img .orbit-container .orbit.orbit-outer .orbit-dots {
  animation-duration: 40s;
}
.hero-section-primary .hero-img .orbit-container .orbit .orbit-img,
.hero-section-primary .hero-img .orbit-container .orbit .orbit-dots {
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: counterRotate 30s linear infinite;
}
.hero-section-primary .hero-img .orbit-container .orbit .orbit-img {
  width: 60px;
  height: 60px;
  box-shadow: 0 0 10px rgba(41, 143, 156, 0.7);
}
.hero-section-primary .hero-img .orbit-container .orbit .orbit-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section-primary .hero-img .orbit-container .orbit .orbit-dots {
  width: 15px;
  height: 15px;
  box-shadow: 0 0 5px #298f9c, 0 0 10px #298f9c;
  animation: glowPulse 1.5s infinite ease-in-out;
}
@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes counterRotate {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 10px #298f9c, 0 0 20px #298f9c;
  }
  50% {
    box-shadow: 0 0 30px #298f9c, 0 0 60px #298f9c;
  }
}/*# sourceMappingURL=style.css.map */