//form
form {
    .input-group{
        .form-control {
            border-color: $light;
            box-shadow:none ;
            padding: 10px 10px;
        }
        .input-group-text{
            background-color: $success;
            color: $light;
            border: transparent;
            transition: $transition-base;
            &:hover{
                .input-icon{
                    transform: translateX(5px);
                }
            }
        }
    }
    &.contactus-form{
        .form-control,.form-select{
            border-radius: 0;
            border-color: transparent;
            box-shadow: none;
            padding: 15px;
        }
    }
}