//helper.scss
.section-lg{
    padding: 100px 0px;
}

.hero-section-primary{
    background-image: url('../../images/hero-bg01.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 100px;
    .hero-img{
        .metric{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
    }
    .hero-content{
        ul{
            &.list-1{
                @media (min-width:576px) {
                   border-right: 2px solid $secondary;
                }
            }
        }
    }
}
.underline-after{
    &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 25%;
        right: 0;
        transform: translateY(-50%);
        height: 1px;
        width: 50%;
        background-color:rgba($primary, 0.3); 
    }
}


